
<!-- About Section -->
<section id="faq">
    <div class="container">

        <!-- Headings -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr>
                <h2 class="section-heading">FAQS</h2>
                <h3 class="section-subheading text-muted">Get all the answers to your Frequently Asked Questions here.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">

                <button class="accordion"> 
                    When is the official launch?
                </button>
                <div class="panel">
                    <h3 class="section-subheading text-muted">
                        Official launch plans and prices have not yet been announced. Follow us on Twitter or join our Discord to stay up to date with details on our official launch.
                    </h3>
                </div>

                <button class="accordion">
                    How do I mint an NFT?
                </button>
                <div class="panel">
                    <h3 class="section-subheading text-muted">
                        You will be able to mint an NFT on this website once launch plans have been announced. All you have to do is connect your Solana compatible wallet and mint - it is that easy!
                    </h3>
                </div>

                <button class="accordion">
                    How many NFTs will there be?
                </button>
                <div class="panel">
                    <h3 class="section-subheading text-muted">
                        There will be 888 Mystic Mimi NFTs in this collection. 
                    </h3>
                </div>

                <button class="accordion">
                    How much will an NFT cost?
                </button>
                <div class="panel">
                    <h3 class="section-subheading text-muted">
                        Each NFT will cost 0.88 SOL 
                    </h3>
                </div>

                <button class="accordion">
                    Why so many 8s?
                </button>
                <div class="panel">
                    <h3 class="section-subheading text-muted">
                        8 is considered a lucky number - and Mimi is very superstitious.
                    </h3>
                </div>

                <button class="accordion">
                    How do I get whitelisted?
                </button>
                <div class="panel">
                    <h3 class="section-subheading text-muted">
                        Whitelist is available for members of our <a href="https://discord.com/invite/uNEVvRmaE8"><strong>Discord</strong></a> server. We will reward active members who contribute to making our community feel inclusive and enjoyable with whitelist spots. This will reserve people the ability to mint our NFTs early. 
                    </h3>
                </div>

        <button class="accordion">How do I evolve my NFTs?</button>
        <div class="panel">
            <h3 class="section-subheading text-muted">
                Every NFT holder will be airdropped a token. This token will be used to merge the NFT on our website. This process will be explained fully when the tokens are airdropped. 
            </h3>
        </div>

    </div>
</div>

    </div>
</section>