 <!-- jQuery Version 1.11.0 -->
    <!-- <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Slick JS -->
    <script src="{{ "/js/slick.js" | prepend: site.baseurl }}"></script>

    <script type="text/javascript">
      $('.multiple-items').slick({
         infinite: true,
         slidesToShow: 3,
         swipeToSlide: true,
         arrows: false,
         autoplay: true,
         autoplaySpeed: 2000,
         pauseOnHover: true,
         responsive: [
            {
               breakpoint: 768,

               settings: {
                  infinite: true,
                  slidesToShow: 3,
                  swipeToSlide: true,
                  arrows: false,
                  autoplay: true,
                  autoplaySpeed: 2000,
                  pauseOnHover: true
               }
            }, 
            {
               breakpoint: 480,

               settings: {
                  infinite: true,
                  slidesToShow: 1,
                  swipeToSlide: true,
                  arrows: false,
                  autoplay: true,
                  autoplaySpeed: 2000,
                  pauseOnHover: true
               }
            }
         ]
      });
   </script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

