<!-- Portfolio Grid Section -->
<canvas id="portfolio">

    <div class="container">

        <!-- Placeholder -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Minting</h2>
                <h3 class="section-subheading text-muted">This is where minting will take place</h3>
            </div>
        </div>

        <div class="col-lg-12 text-center">
            <!-- <button type="mint" class="btn btn-xl">Mint NFT</button> -->
            <a href="https://studio-nft.github.io/candy-machine-mint/" class="btn btn-primary">Mint NFT</a>
        </div>

    </div>

</section>
