
<section id="mint">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">

                <hr>
                
                <h2 class="section-heading">Minting - Coming Soon!</h2>
            </div>
        </div>

        <div class="row">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">Check out our Social Media for more details or explore our collection.</h3>
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}"><i class="fab fa-{{ network.title }}"></i></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        

    </div>  

</section>
