 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" style="background-color: #1a1e36;">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{ post.title }}</h2>
                                <hr class="star-primary">
                                <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                
                                <h3 class="section-subheading text-muted">
                                    {{ post.description }}
                                </h3>

                                <h3 class="section-subheading text-muted">
                                    {{ post.description2 }}
                                </h3>

                                <a class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Return</a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        </div>
    </div>
{% endfor %}
