<!-- About Section -->
<section id="roadmap">
    <div class="container">

        <!-- Headings -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <hr>
                <h2 class="section-heading">Roadmap</h2>
                <h3 class="section-subheading text-muted">Find out what is beyond the horizon for the Mystic Mimi Collection.</h3>
            </div>
        </div>

        <div class="timeline">
            <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
                <div class="timeline__event__icon ">
                    <i class="lni-cake"></i>
                </div>
                <div class="timeline__event__content ">
                    <div class="timeline__event__title">
                        PHASE I - MIMI LANDS IN THE METAVERSE!
                    </div>
                    <div class="timeline__event__description">
                        <h3 class="section-subheading text-muted">
                            Mimi transports to the Solana network. She has transported from one of her many scenes in the original anime series, so finds herself wearing the associated outfit.
                        </h3>
                    </div>
                </div>
            </div>
            
            <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
            <div class="timeline__event__icon">
                <i class="lni-burger"></i>
                <div class="timeline__event__date"></div>
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                PHASE II - “THE TEMPLE”
                </div>
                <div class="timeline__event__description">
                    <h3 class="section-subheading text-muted">
                        Mimi will firstly visit “The Temple” to be assigned a CLAN.  
                    </h3>
                    <h3 class="section-subheading text-muted">
                    Every NFT holder will be airdropped a token which allows them to trade in their original NFT for a CLAN revealed NFT. This will have improved artwork, CLAN insignia and relevant colours. A community for each CLAN will be launched for CLAN business.
                    </h3>
                </div>
            </div>
            </div>
            <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
            <div class="timeline__event__icon">
                <i class="lni-slim"></i>
                <div class="timeline__event__date">
                
                </div>
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                PHASE III - “THE DOJO”
                </div>
                <div class="timeline__event__description">
                    <h3 class="section-subheading text-muted">
                        This is where Mimi will learn her CRAFT. 
                    </h3>
                    <h3 class="section-subheading text-muted">
                        Each NFT holder will again be able to merge their NFT for incorporate CRAFT accessories. After this, we will airdrop resources specific to each CRAFT. These can be traded on secondary markets, but make sure your CLAN is well equipped for “The War of the Clans”. 
                    </h3>
                </div>
        
            </div>
            </div>
            <div class="timeline__event animated fadeInUp timeline__event--type4">
            <div class="timeline__event__icon">
                <i class="lni-cake"></i>
                <div class="timeline__event__date">
                
                </div>
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                PHASE IV - “THE SWIRLING POOLS”
                </div>
                <div class="timeline__event__description">
                    <h3 class="section-subheading text-muted">
                        At “The Swirling Pools” stories are told and legends are made. Should Mimi become a village elder, she will gain more influence in her CLAN. However, she has to use this wisely or risk revolt. 
                    </h3>
                    <h3 class="section-subheading text-muted">
                        Holders will be assigned a CASTE, this is the final evolution of artwork and attributes. 
                    </h3>
                </div>
            </div>
            </div>

            <!-- PHASE 5 -->
            <div class="timeline">
                <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
                    <div class="timeline__event__icon ">
                        <i class="lni-cake"></i>
                    </div>
                    <div class="timeline__event__content ">
                        <div class="timeline__event__title">
                            PHASE V - THE WAR OF THE CLANS
                        </div>
                        <div class="timeline__event__description">
                            <h3 class="section-subheading text-muted">
                                A play-to-earn game will be created to allow Mimi holders to battle or trade between CLANS, evolve their CRAFT and re-elect leaders to increase their CASTE. The Mimi Metaverse will include its own currency, which can be earned, looted or wagered in the metaverse and finally sold on the secondary market for profit. 
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PHASE 6 -->
            <div class="timeline">
                <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type2">
                    <div class="timeline__event__icon ">
                        <i class="lni-cake"></i>
                    </div>
                    <div class="timeline__event__content ">
                        <div class="timeline__event__title">
                            PHASE VI - HANGOUTS  AND STAKING
                        </div>
                        <div class="timeline__event__description">
                            <h3 class="section-subheading text-muted">
                                We will acquire land on the Solana Metaverse to bring together the community, create a space for duels, trading and wagering, hangouts, and CLAN business meetings.  
                            </h3>
                            <h3 class="section-subheading text-muted">
                                We are currently looking into developing staking pools where holders can stake their Mimi NFT for a lock period, in return for the Mimi Metaverse currency. 
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>
