<!-- About Section -->
    <section id="about">
        <div class="container">

            <!-- Headings -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Roadmap</h2>
                    <h3 class="section-subheading text-muted">Find out what is beyond the horizon for Studio-NFT.</h3>
                </div>
            </div>

            <!-- Body -->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">

                        <!-- Item 1 -->
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Phase I</h4>
                                    <h4>Q1 2022</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Prepare for initial launch with the first character (Mimi) on the Solana Network and begin development on the community manga series.</p>
                                </div>
                            </div>
                        </li>

                        <!-- Item 2 -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Pase 2</h4>
                                    <h4>Q2 2022</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Release the first Studio-NFT manga with an exclusive bonuses to Mimi holders. Future release of other main characters.</p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>