
<!-- Portfolio Grid Section -->
    <section id="portfolio">
        
        <div class="container">
        
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Story</h2>
                    
                    <!-- Quote -->
                    <blockquote class="otro-blockquote">
                        <h2 class="section-heading" style="color: #{{ site.data.template.color.primary }}; font-size:30px"><strong>Isekai (異世界)</strong></h2>

                            <h3 class="section-subheading text-muted">
                                How did Mimi get lost on the Solana blockchain? It all started when a group of storytellers and designers were just about to finish their 
                                anime series, with Mimi as the main character. When creating the series, Mimi was always mysterious and mercurial, as if she has a mind of her own.    
                            </h3>
                            <h3 class="section-subheading text-muted">
                                It was late one evening, when the artists had finished their final scene. After letting the paint dry overnight, they returned to final the project 
                                complete; with one exception. Mimi had disappeared from all of the scenes. Had she been banished by an enemy? Had she run away in search of a better 
                                life? Was she looking for a lover, a friend or a conquest?  
                            </h3>
                            <h3 class="section-subheading text-muted">
                                The reason Mimi transported to the Solana blockchain is not understood, but what is clear is that she has picked up special powers. She must now learn 
                                to both survive in her new environment and also control her new found powers! 
                            </h3>

                    </blockquote>
                

                    <h2 class="section-heading">Powers</h2>

                    <h3 class="section-subheading text-muted">
                        In the confusion of leaping onto the Solana network, Mimi acquired three powers. With your help, she must now learn how to master these powers. 
                    </h3>
                    <h3 class="section-subheading text-muted">
                        Each NFT has one of these specific powers which have been inspired by the greatest anime series of all time! These are denoted by the background colour.
                    </h3>

                </div>
            </div>

            <!-- Items -->
            <div class="row">

                <!-- Looping Through Posts -->
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered img-rounded-corners" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4 class="text-muted"><strong style="color:#{{post.colour}}">{{ post.power }}</strong></p>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>

    </section>


