<!-- Portfolio Grid Section -->
    <section id="story">
        
        <div class="container">

            <!-- Carousel -->
            <div class="multiple-items">
                <div><img src="img/portfolio/Power-1.png" alt=""></div>
                <div><img src="img/portfolio/Power-2.png" alt=""></div>
                <div><img src="img/portfolio/Power-3.png" alt=""></div>
                <div><img src="img/portfolio/Power-1.png" alt=""></div>
                <div><img src="img/portfolio/Power-2.png" alt=""></div>
                <div><img src="img/portfolio/Power-3.png" alt=""></div>
                <div><img src="img/portfolio/Power-1.png" alt=""></div>
                <div><img src="img/portfolio/Power-2.png" alt=""></div>
                <div><img src="img/portfolio/Power-3.png" alt=""></div>
            </div>
        
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12 text-center">

                    <hr>
                    
                    <h2 class="section-heading">Origin Story</h2>
                    
                    <!-- Quote -->
                    <blockquote class="otro-blockquote">
                        <h2 class="section-heading" style="color: #{{ site.data.template.color.primary }}; font-size:30px"><strong>The Dawn - Ake (明け)</strong></h2>

                            <h3 class="section-subheading text-muted">
                                How did Mimi get lost on the Solana blockchain? It all started when a visionary storyteller was just about to finish his comic series, 
                                with Mimi as the main character. He crafted Mimi as being mystic, mysterious and mercurial, but then she really took on a mind of her own.    
                            </h3>
                            <h3 class="section-subheading text-muted">
                                As the sun was setting, the storyteller took the final stroke of his brush, satisfied to have finished his comic. After letting the paint 
                                dry overnight, he returned at dawn to review his work. Astonished - he noted that Mimi had disappeared from all of her scenes. Where had 
                                she gone? Had she been banished by an enemy or left in search of a lover, a friend or a conquest?  
                            </h3>
                            <h3 class="section-subheading text-muted">
                                The reason Mimi transported to the treacherous Solana blockchain is not understood, but what is clear is that she must learn to survive. 
                                Does she find a Clan to pledge her allegiance, evolve mystical powers or become a tribal elder? Her future and survival is dictated by her NFT holder. 
                            </h3>

                    </blockquote>

                </div>
            </div>

        </div>

    </section>


