
<!-- Portfolio Grid Section -->
    <section id="portfolio">
        
        <div class="container">
        
            <!-- Heading -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Story</h2>
                    
                    <!-- Quote -->
                    <blockquote class="otro-blockquote">
                        <h2 class="section-heading" style="color: #{{ site.data.template.color.primary }}; font-size:30px"><strong>Isekai (異世界)</strong></h2>
                        An ancient Japanese genre of anime that transports the protagonist to a new world, where they discover new characters and learn to survive in their new surroundings.   
                        <br><br>
                        Our character, Mimi, has been transported to the Solana blockchain to explore the Metaverse. Where will she go? Who will she meet? What will she do? You decide.  
                    </blockquote>

                    <h2 class="section-heading">Personas</h2>

                    <h3 class="section-subheading text-muted">Meet Mimi, the first New World Explorer to be transported to the Solana blockchain. Mimi has an inherently kind personality, which is coupled with one of her many personas. It's up to you how she exists in this world and the contributions she will make to society. Explore her personas... </h3>
                </div>
            </div>

            <!-- Items -->
            <div class="row">

                <!-- Looping Through Posts -->
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered img-rounded-corners" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">Persona: <strong style="color:#{{post.colour}}">{{ post.persona }}</strong></p>
                    </div>
                </div>
            {% endfor %}
            </div>

            <!-- Placeholder -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Minting</h2>
                    <h3 class="section-subheading text-muted">This is where minting will take place</h3>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <!-- <button type="mint" class="btn btn-xl">Mint NFT</button> -->
                <a href="https://studio-nft.github.io/candy-machine-mint/" class="btn btn-primary">Mint NFT</a>
            </div>
        </div>

    </section>


