<!-- Team Section -->
<section id="team">

    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What is Studio-NFT?</h2>
                <h3 class="section-subheading text-muted">Studio-NFT is a project to develop NFT manga - bringing your characters to life!</h3>
            </div>
        </div>

        
        <div class="row">

            <!-- 1st Item -->
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/nft/1.jpg" alt="">
                    <h4>Test Script</h4>
                    <p class="text-muted">This is more test script</p>
                </div>
            </div>

            <!-- 2nd Item -->
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/nft/1.jpg" alt="">
                    <h4>Test Script</h4>
                    <p class="text-muted">This is more test script</p>
                </div>
            </div>

            <!-- 3rd Item -->
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/nft/1.jpg" alt="">
                    <h4>Test Script</h4>
                    <p class="text-muted">This is more test script</p>
                </div>
            </div>
        </div>
    </div>
</section>